.concord-logo {
  width: 195px;
  height: 60px;
}

.mobile-nav-contain {
  margin-top: 48px;
}

.learn-portal-umbrella-contain.cols {
  margin-left: 4%; 
  margin-right: 4%; 
}

.learn-portal-link {
  text-align: center;
}
