#secondary {
  background: #f5f5f5;
  color: #313131;
  display: inline-block;
  font: 100 16px museo-sans, verdana, helvetica, arial, sans-serif;
  height: auto;
  margin: 20px 0 50px 0;
  padding: 0 0 30px;
  vertical-align: top;
}
