.portal-pages-header-contain {
  margin-bottom: 0;
}
.portal-pages-hero {
  h1 {
    font-size: 42px;
    line-height: 48px;
    strong:before {
      display: none;
    }
  }
  .portal-pages-hero-info {
    font-size: 18px;
    line-height: 30px;
  }
  .portal-pages-hero-browse {
    font-size: 15px;
    line-height: 24px;
  }
}

.portal-pages-finder-form-inner.cols {
  padding-top: 180px;
  padding-bottom: 30px;
}

.portal-pages-finder-form-subject-areas-logo .portal-pages-finder-form-subject-areas-logo-inner {
  float: left;
  margin: 0;
}
.portal-pages-finder-form-subject-areas-logo-label {
  float: left;
  margin: 30px 0 0 20px;
}
.portal-pages-finder-form-search {
  position: absolute;
  top: 20px;
  width: 97.36842% !important;

  input { width: 96.5%; }
}
.portal-pages-search-input-container a { text-align: left; }

.portal-pages-finder-form-filters {
  float: left !important;
  margin-right: 1.31579%;
  margin-bottom: 20px;
  margin-left: 1.31579%;
  width: 47.36842% !important;

  .portal-pages-finder-form-filters-option {
    float: none !important;
    width: 100% !important;
  }
}

.portal-pages-finder-header {
  margin: 0;
}
.portal-pages-finder-header-resource-count {
  font-size: 24px;
}

.portal-pages-finder-results-cards, .portal-pages-collections-page-list {
  .col-4 {
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
}

.portal-pages-finder-form-filters {
  display: none;
}

// Mobile Toggle
.mobile-filter-toggle {
  color: $col-darkgray;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-family: $font-museo-sans;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
