.portal-pages-hero {
  h1 {
    font-size: 42px;
    line-height: 48px;
    strong:before {
      display: none;
    }
  }
  .portal-pages-hero-info {
    font-size: 18px;
    line-height: 30px;
  }
  .portal-pages-hero-browse {
    font-size: 15px;
    line-height: 24px;
  }
}

.portal-pages-finder-header {
  margin: 0;
}
.portal-pages-finder-header-resource-count {
  font-size: 24px;
}

.portal-pages-finder-results-cards, .portal-pages-collections-page-list {
  .col-4 {
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
}
