.portal-pages-hero {
  h1 {
    font-size: 42px;
    line-height: 48px;
    strong:before {
      display: none;
    }
  }
  .portal-pages-hero-info {
    font-size: 18px;
    line-height: 30px;
  }
  .portal-pages-hero-browse {
    font-size: 15px;
    line-height: 24px;
  }
}

.portal-pages-finder-header {
  margin: 0;
}
.portal-pages-finder-header-resource-count {
  font-size: 24px;
}
.portal-pages-finder-form-filters {
  display: none;
}
.portal-pages-finder-form-inner {
  padding-top: 200px;
}
.portal-pages-finder-form-subject-areas-logo .portal-pages-finder-form-subject-areas-logo-inner {
  float: left;
  margin: 0;
}
.portal-pages-finder-form-subject-areas-logo-label {
  float: left;
  margin: 30px 0 0 20px;
}
.portal-pages-finder-form-search {
  position: absolute;
  top: 60px;
}

// Mobile Toggle
.mobile-filter-toggle {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-family: $font-museo-sans;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
