/* collections pages */

.portal-pages-collections-page-header {
  background: transparent;
  font-size: 20px;
}
.portal-pages-collections-page-header h1 {
  font: 100 54px $font-museo;
  color: $col-darkgray;
  margin: 0 0 20px;
}
.portal-pages-collections-page-header-info {
  color: $col-darkgray;
  font: 300 24px $font-museo-sans;
  line-height: 36px;
}
.portal-pages-collections-page-header a {
  font-size: 18px;
  font-weight: 700;
  &.special-link:after {
    font-size: 18px;
    margin-top: 4px !important;
  }
}
.portal-pages-collections-page-diagonal-spacer {
  background:#fff;
  background: linear-gradient(to right bottom, $white 50%, $col-mediumgray 50%);
  height: 100px;
}
.portal-pages-collections-page-list {
  background-color: $col-mediumgray;
  margin-top: 20px;
}
.portal-pages-collections-page-list-inner {
  padding: 10px 0 30px 0;
  min-height: 1000px;
}

.portal-pages-collections {
  background-color: $medium-gray;
  font-size: 16px;
}
.portal-pages-collections-inner {
  padding: 40px 0 30px;
  width: auto;
}
.portal-pages-collections-inner h2 {
  color: $col-darkgray;
  font-size: 36px;
  font-weight: 100;
  line-height: 36px;
  margin: 0 20px 40px;
  strong {
    font-weight: 900;
  }
}
.portal-pages-collections-info {
  font-size: 18px;
  line-height: 30px;
  margin: 0 20px 30px;
}
.portal-pages-collections-info a {
  color: $orange;
  font-weight: bold;
}
.portal-pages-collections-cards {
  clear: both;
  margin-top: 0;
  overflow: hidden;
}
.portal-pages-collections-card {
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 500px;
  margin: 20px;
  overflow: hidden;
  vertical-align: top;
  width: 285px;
  &:hover {
    h3, img { display: none; }
    .portal-pages-collections-card-description {
      background: $col-blue;
      color: $white;
      height: 440px;
      margin: 0;
      padding: 30px;
    }
  }
  a {
    display: block;
    height: 100%;
  }
}
.portal-pages-collections-card img {
  height: 235px;
  max-height: 235px;
  pointer-events: none;
  width: 100%;
}
.portal-pages-collections-card-name {
  color: $col-blue;
  font: 700 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px;
}
.portal-pages-collections-card-description {
  color: $col-darkgray;
  font: 300 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px;
  overflow:hidden;
  text-overflow: ellipsis;
}

.portal-pages-collection-resource-list {
  clear: both;

  h2 {
    color: $col-darkgray;
    font: 700 24px $font-museo-sans;
    margin-bottom: 0;
  }
  .material-item {
    background: transparent !important;
    .material-item-content {
      background: $white;
      margin-bottom: 30px;
      padding: 50px 30px 40px;
    }
    .material-item__title {
      font: 700 18px $font-museo-sans;
      line-height: 24px;

      a {
        color: $col-blue;
      }
    }
    .material-item__description {
      color: $col-darkgray;
      font: 300 15px $font-museo-sans;
      line-height: 24px;
    }
    .material-item__image {
      margin-top: 0;
      position: relative;
      img {
        border: solid 1px $col-mediumgray;
        height: auto;
        width: 100%;
      }
      .portal-pages-label {
        background: $white;
        bottom: 10px;
        color: $col-darkgray;
        font: 500 11px $font-museo-sans;
        line-height: 1;
        padding: 10px;
        position: absolute;
        right: 10px;
        text-transform: uppercase;
      }
    }
  }
}
