
:global(#left-navigation) {
  background: #f5f5f5;
  color: #ea6d2f;
  font-size: 16px;
  font-family: museo-sans, verdana, helvetica, arial, sans-serif;
  // background: #ea6d2f;
  color: #313131;
  display: inline-block;
  font: 100 16px museo-sans, verdana, helvetica, arial, sans-serif;
  height: auto;
  margin: 20px 0 50px 0;
  padding: 0px;
  width: 250px;
  vertical-align: top;
  a {
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    &:link { background: transparent; }
    &:visited { background: transparent; }
    &:hover { color: #313131; }
    &:active { color: #313131; }
    &.selected {
      color: #313131;
      font-weight: 500;
    }
  }
  h2 {
    color: #555555;
    font: bold 1.3em Arial, Helvetica, sans-serif !important;
    margin: 10px 0 10px 20px;
  }
  ul {
    list-style: none;
    margin: 0px;
    margin-bottom: 1em;
    padding: 0px;
  }
  li {
    list-style: none;
    margin: 20px;
    padding: 0;
    li { font-size: 14px;}
  }

  a, a:visited, a:active {
    color: unset;
  }
  a:hover { color: black }
  .small {
    font-size: 12px;
  }

  hr {
    border: 0px;
    height: 1px;
    background-color: #D2D2D2;
    margin: 0.8em 0em;
  }
  .divider {
    border-top: 1px solid #D2D2D2;
  }
  .head {
    padding: 16px;
    padding-bottom: 0px;
    color: black;
    font-size: 20px;
    font-weight: 100;
    .greeting {
      color: #6D6D6D;
    }
  }
  li {
    margin: 0px;
    padding: .8em 16px;
    color: #DD7341;
    &.selected {
      color: white;
      background-color: #DD7341;
      font-weight: bold;
      > ul {
        max-height: 100vh;
        margin-bottom: 1em;
        // margin: 0px;
        transition-duration: 200ms;
        font-weight: 100;
      }
      li {
        color: white;
        background-color: #DD7341;
        .unselected:after {
          content: "";
        }
        .selected:after {
          content: "";
        }
      }
    }
    ul {
      max-height: 0px;
      transition-duration: 200ms;
      overflow: hidden;
    }
  }
  .section {
    > .unselected:after {
      float: right;
      font-family: 'icomoon';
      font-size: 0.8em;
      content: "\e905";
    }
    > .selected:after {
      float: right;
      font-family: 'icomoon';
      font-size: 0.8em;
      content: "\e906";
    }
  }
  li.nav-hidden {
    height: 2px;
  }
  .icon {
    width: 24px;
  }
  .pop-out {
    font-style: italic;
  }
}



/* classes-button: */
/* Links: */
