.portal-pages-finder-results-cards, .portal-pages-collections-cards {
  .col-4 {
    float: left !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    width: 45% !important;
  }
}
