.portal-pages-modal .portal-pages-close {
  top: 0;
  }
.signup-default-modal-content, .login-default-modal-content, .forgot-password-default-modal-content {
  margin-left: -290px;
  padding: 20px;
  top: 50px;

  footer {
    display: none;
    }
  }
