/* ----- Site Footer ----- */

#footer, .concord-footer {
  background: #f5f5f5;
  border-top: 2px dotted rgba(49, 49, 49, 0.15);
  padding: 50px 0 0;
  height: auto;
  min-height: 450px;

  .mobile-join-us {
    display: none;
  }
}

.footer-sitemap-contain {
  @include list-reset;
  margin-bottom: 62px;
}

.footer-link__heading {
  font-family: $font-museo;
  font-weight: 700;
  font-size: 16px;
  color: $col-darkgray;
  margin-bottom: 30px;
}

.footer-link__item {
  @include list-reset;
  color: $col-darkgray-50;
  font-family: $font-museo-sans;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;

  a {color: $col-darkgray-25  ;}
  a:hover {color: $col-darkgray;}
}

.page-footer-inner {
  border-top: 2px dotted $col-darkgray-15;
  padding-top: 100px;
}


.newsletter-social-contain {
  text-align: right;
}

/* Footer Newsletter Signup */
.footer-newsletter {
  position: relative;

  a, input {
    color: $col-darkgray-50;
    margin: 0 0 30px 0;
    position: relative;
    max-width: 255px;
    float: right;
    border: 2px solid $col-darkgray-15;
  }

  /* Icon */
  &:after {
    content: "\e904";
    position: absolute;
    color: $col-darkgray;
    font-family: "icomoon";
    font-size: 20px;
    line-height: 55px;
    top: 0;
    right: 20px;
  }
}

.footer-newsletter__link {
  display: inline-block;
  line-height: 50px;
  color: $col-default;
  font-size: 15px;
  padding: 0 40px 0 20px;
  font-family: $font-museo;
  width: 100%;
  text-align: left;

  &:hover {
    border-color: $col-darkgray;
  }
}


/* Social Media Links */
.footer-social-links {
  position: relative;
  padding: 0 30px 0 0;
  clear: right;
}

.social-link__twitter {
  display: inline-block;
  color: $col-darkgray;
  margin: 0 15px 0 0;
  &::before {
    @include transition(all $transition-timing $transition-function);
    content: "\e910";
    font-family: "icomoon";
    font-size: 12px;
    border: 2px solid $col-darkgray-15;
    padding: 6px;
    border-radius: 50%;
  }
  &:hover::before {
    color: $col-hover;
    border-color: $col-darkgray;
  }
}

.social-link__facebook {
  display: inline-block;
  color: $col-darkgray;
  margin: 0 15px 0 0;
  &::before {
    @include transition(all $transition-timing $transition-function);
    content: "\e90e";
    font-family: "icomoon";
    font-size: 12px;
    border: 2px solid $col-darkgray-15;
    padding: 6px 9px;
    border-radius: 50%;
  }
  &:hover::before {
    color: $col-hover;
    border-color: $col-darkgray;
  }
}

.social-link__google-plus {
  display: inline-block;
  color: $col-darkgray;
  &::before {
    @include transition(all $transition-timing $transition-function);
    content: "\e90f";
    font-family: "icomoon";
    font-size: 15px;
    border: 2px solid $col-darkgray-15;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    top: 1px;
  }
  &:hover::before {
    color: $col-hover;
    border-color: $col-darkgray;
  }
}

/* Sub Footer */
.sub-footer {
  border-top: 2px dotted $col-darkgray-15;
  padding: 55px 0 0 0;
}

.sub-footer__copyright {
  font-size: 12px;
  color: $col-darkgray-50;
}
.sub-footer__blenderbox {
  font-size: 12px;
  color: $col-darkgray-50;
  text-align: right;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  clear: both;
  height: $footer-height;
  position: relative;
  padding: 1rem;
}
