/* colors */
$orange: #EA6D2F;
$orange-gradient-from: #F8CF4E;
$orange-gradient-to: #F8AE4E;
$blue-text: #3398A2;

/* sizes */
$desktop-page-width: 960px;
$desktop-card-margin: 20px;

/* portal html restyling */

.landing-container {
  display: block !important;
  height: auto;
  margin: 0;
  overflow: hidden;
}

.landing-container * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.landing-container .home-page-content {
  display: block !important;
  overflow: visible;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#flash {
  left: 50%;
  margin: 0 0 0 -480px;
  position: absolute;
  top: 60px;
  width: 960px;
  z-index: 100;
}

.flash.notice {
  border: none;
  padding: 5px 10px;
}

#notice_container, .project_cards, .result_material {
  display: none;
}

/* existing sign in modal */

#log-in {
  margin-left: -336px;
  min-height: 300px !important;
  padding: 1em;
  width: 640px;
}

.col-50 {
  float: left;
  width: 50%
}

.col-50.right {
  background: #f9eec1;
  border-radius: 12px;
  float: right;
  margin-top: -38px;
  padding: 3.5% 4% 5% !important;
  width: 42%
}

.col-50.right h3 {
  color: #3f3f3f;
  font: 1.3em museo;
  margin-bottom: .25em
}

.modal button {
  display: block;
  margin: 1em auto;
  padding: 10px 20px !important
}

.modal dt {
  font-weight: 700;
  margin-bottom: .25em
}

.modal dd {
  margin-bottom: 1em
}

.modal h2, form.imported_confirm h2, form.signup h2 {
  color: #eb8723;
  font: 500 1.5em museo-sans;
  margin: 0 0 6px;
  padding: 0 0 5px;
  text-align: left
}

.modal h3 {
  color: #3f3f3f;
  font: 1em museo-sans;
  font-weight: 700;
  margin-bottom: 1em
}

.modal h4 {
  color: #222;
  font-weight: strong
}

.modal img {
  border: 1px solid #ccc;
  height: auto;
  width: 100%
}

.modal li, .modal p {
  font-size: .9em;
  line-height: 1.3
}

.modal p.special-msg {
  color: #e16a3e;
  display: none;
  margin-bottom: 1em
}

.modal-nav {
  top: -20px;
  color: #fff;
  position: absolute;
  width: 96%
}

.modal-nav a {
  color: #fff;
  display: block;
  text-decoration: none
}

.modal-nav a.prev {
  float: left
}

.modal-nav a.prev:before {
  color: #fff;
  content: '\00AB '
}

.modal-nav a.next {
  float: right
}

.modal-nav a.next:after {
  color: #fff;
  content: ' \00BB'
}

.modal .col {
  float: left;
  padding: 0 0 0 2%;
  width: 31.33333333333333%
}

.modal .col-50.req {
  width: 520px
}

.modal .col-50 ul {
  margin: 1em 0 1em 1em
}

.modal .col-50 li {
  margin-bottom: .5em
}

.modal button.button {
  margin: 0 0 1em !important
}

.modal input {
  padding: 5px
}

.modal input[type=submit] {
  border: none;
  padding: 5px 15px
}

/* common centered widths for each section */
.stem-top-bar-inner,
.stem-nav,
.stem-collections-page-header {
  margin: 0 auto;
  width: $desktop-page-width;
}

.stem-collections-page-list-inner,
.stem-finder-results-inner {
  margin: 0 auto;
  width: $desktop-page-width + (2 * $desktop-card-margin);  /* this adds in the margin of the left and right cards */
}

/* top bar */
.stem-top-bar {
  background-color: #F5F5F5;
  color: $orange;
  padding: 5px 0;
}

.stem-top-bar-inner {
  text-align: right;
  margin: 0 auto;
  width: $desktop-page-width;
}
.stem-top-bar-inner a {
  color: $orange;
  font-weight: bold;
}

/* nav */
.stem-nav-logo {
  background-size: 100%;
  height: 100px;
  width: 245px;
  background: transparent url(/assets/banners/learn-aa43865ea93b51f353fe57a1aa05d624.png) 0 0px no-repeat;
  margin: 0;
  text-indent: -999em;
}
.stem-nav-logo:after {
  content: 'Learn Portal';
  position: relative;
  top: 58px;
  left: 75px;
  font-size: 14px;
  color: $blue-text;
  font-weight: bold;
}
.stem-nav-logo a {
  background: transparent;
  display: block;
}
.stem-nav-right {
  float: right;
  margin: 40px 0;
}
.stem-nav-links,
.stem-nav-auth {
  display: inline-block;
}
.stem-nav-links a {
  font-size: 16px;
  color: #000;
  margin-right: 30px;
  padding-bottom: 5px;
}
.stem-nav-link-active {
  border-bottom: 2px solid #FFC320;
}
.stem-nav-auth {
  min-width: 200px;
  text-align: right;
}

/* auth */
.stem-auth-login-button,
.stem-auth-login-button:hover {
  display: inline-block;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 10px 20px;
  background: $orange;
  color: #fff;
  border: 2px solid $orange;
  font-size: 12px;
  font-weight: bold;
}
.stem-auth-register-button,
.stem-auth-register-button:hover {
  display: inline-block;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-left: 7px;
  padding: 10px 20px;
  background: #fff;
  color: $orange;
  border: 2px solid $orange;
  font-size: 12px;
  font-weight: bold;
}

/* hero */
.stem-hero {
  text-align: center;
  margin: 40px auto;
  width: 740px;
}
.stem-hero strong {
  color: $blue-text;
}
.stem-hero h1 {
  color: #000;
  font-size: 54px;
  line-height: 60px;
  margin: 30px 0;
}
.stem-hero h1 strong:before {
  content: ' ';
  display: block;
}
.stem-hero a {
  color: $orange;
  text-decoration-style: dotted;
  text-decoration-line: underline;
}
.stem-hero-info {
  font-size: 20px;
  margin: 20px 0;
}
.stem-hero-browse {
  font-size: 16px;
}

/* finder */
.stem-finder-form {
  background: $orange-gradient-to;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $orange-gradient-from, $orange-gradient-to);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $orange-gradient-from, $orange-gradient-to); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 400px;
  font-weight: bold;
}
.stem-find-form--hidden {
  opacity: 0;
}
.stem-finder-form-inner {
  margin: 0 auto;
  padding: 50px 0;
  width: 740px;
}
.stem-finder-form-subject-areas {
  text-align: center;
  margin-bottom: 30px;
}
.stem-finder-form-subject-areas-logo {
  display: inline-block;
  width: 140px;
  text-align: center;
  cursor: pointer;
}
.stem-finder-form-subject-areas-logo svg,
.stem-finder-form-subject-areas-logo svg text {
  pointer-events: none;  /* to prevent errors in portal javascript handlers */
}
.stem-finder-form-subject-areas-logo-label {
  text-transform: uppercase;
  margin-top: 5px;
}

.stem-finder-form-filters {
  float: left;
  width: 250px;
}
.stem-finder-form-filters-title {
  font-size: 16px;
}
.stem-finder-form-filters-options {
  margin: 10px 0;
}
.stem-finder-form-filters-option {
  margin: 7px 0;
  text-transform: uppercase;
}
.stem-finder-form-filters-option input {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
.stem-finder-form-filters-option span {
  margin-left: 5px;
}

.stem-finder-form-search-title {
  font-size: 16px;
}
.stem-finder-form-search input {
  padding: 14px;
  font-size: 16px;
  margin-top: 10px;
}
.stem-finder-results {
  background-color: #F5F5F5;
  font-size: 16px;
}
.stem-finder-results-inner {
  padding: 30px 0;
}
.stem-finder-result {
  width: 285px;
  min-height: 350px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.stem-finder-result img {
  width: 285px;
  max-height: 185px;
  pointer-events: none;
}
.stem-finder-result-name {
  color: $blue-text;
  margin: 30px 15px 20px 15px;
  pointer-events: none;
}
.stem-finder-result-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background-color: #0592AF;
  color: #fff;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.stem-finder-result-grade-levels {
  position: absolute;
  left: 15px;
  bottom: 15px;
  pointer-events: none;
}
.stem-finder-result-grade-level {
  background-color: #F1F1F1;
  color: $blue-text;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 10px;
  display: inline-block;
}
.stem-finder-result-favorite {
  position: absolute;
  top: 0px;
  right: 15px;
  color: #cccccc;
  font-size: 32px;
}
.stem-finder-result-favorite-active {
  color: #F8CF4D;
}
.stem-finder-header {
  margin: 20px 80px;
  font-size: 28px;
}
.stem-finder-header-resource-count span {
  font-weight: bold;
}
.stem-finder-load-all {
  text-align: center;
  margin: 30px 0;
}
.stem-finder-load-all button {
  display: inline-block;
  width: 400px;
  border: 0;
  padding: 20px 0;
  font-size: 18px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: $orange;
  color: #fff;
}
.stem-finder-header-filters {
  margin: 20px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.stem-finder-header-filter {
  display: inline-block;
  margin-right: 10px;
  padding: 15px;
  background-color: #0592AF;
  color: #fff;
}
.stem-finder-header-filter span {
  margin: 0 5px 0 20px;
  cursor: pointer;
}
.stem-finder-header-filters-clear {
  border-left: 1px solid #cccccc;
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  color: $orange;
  cursor: pointer;
}
/* collections */

.stem-collections-page-header {
  background-color: #fff;
  font-size: 20px;
}
.stem-collections-page-header h1 {
  font-size: 42px;
  color: #000;
  font-weight: normal;
  margin: 20px 0;
}
.stem-collections-page-header-info {
  margin: 20px 0;
}
.stem-collections-page-header-info a {
  color: $orange;
  font-weight: bold;
}

.stem-collections-page-diagonal-spacer {
  background:#fff;
  background: linear-gradient(to right bottom, #fff 50%, #EBEBEB 50%);
  height: 100px;
}

.stem-collections-page-list {
  background-color: #EBEBEB;
}
.stem-collections-page-list-inner {
  padding: 10px 0 30px 0;
  min-height: 1000px;
}

.stem-collections-cards {
  font-size: 16px;
}
.stem-collections-card {
  width: 285px;
  min-height: 450px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  background-color: #fff;
  cursor: pointer;
}
.stem-collections-card img {
  width: 285px;
  max-height: 185px;
}
.stem-collections-card-name {
  color: $blue-text;
  margin: 30px 15px 20px 15px;
}
.stem-collections-card-description {
  color: #000;
  margin: 15px;
}