@import './styles/variables/_variables.scss';
@import './styles/mixins/_mixins.scss';
@import './styles/_normalize.scss';
@import './styles/common/_common.scss';
@import './styles/layout/_layout.scss';
@import './styles/navigation/_navigation.scss';
@import './styles/pages/_pages.scss';
@import './styles/_media_queries.scss';

a,
button,
.button,
input[type="submit"] {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -moz-transition-property: background-color, border-color, color, opacity;
  -o-transition-property: background-color, border-color, color, opacity;
  -webkit-transition-property: background-color, border-color, color, opacity;
  transition-property: background-color, border-color, color, opacity;
}

.landing-container {
  height: 100%;
}

.site-content { overflow: visible !important; }
.portal-pages-page-content-contain { overflow: visible; }


.portal-pages-finder-results {
  font-size: 16px;
}
.portal-pages-finder-results-inner {
  padding: 30px 0;
  width: auto;
}
.portal-pages-finder-results-cards {
  overflow: hidden;
}
.portal-pages-finder-result {
  background-color: $white;
  cursor: pointer;
  height: 355px;
  min-height: 355px;
  padding-bottom: 90px;
  /* position: unset; Using 'unset' here because of styling set in https://s3.amazonaws.com/models-resources/portal-pages/library/portal-pages.css. Remove once the latter is no longer affecting page. */
  vertical-align: top;
}
.portal-pages-finder-result a {
  display: block;
  position: relative;
}
.portal-pages-finder-result img {
  height: auto;
  height: 235px;
  max-height: 235px;
  pointer-events: none;
  width: 100%;
}
.portal-pages-finder-result-name {
  color: $blue;
  font: 700 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px;
  pointer-events: none;
}
.portal-pages-finder-result-description {
  background-color: $blue;
  border-bottom: solid 90px #0592af;
  bottom: 0;
  color: $white;
  height: 295px;
  left: 0;
  overflow: hidden;
  padding: 60px 30px 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
}
.portal-pages-finder-result-grade-levels {
  bottom: 30px;
  left: 30px;
  position: absolute;
  pointer-events: none;
  right: 30px;
}
.portal-pages-finder-result-grade-level {
  background-color: $light-gray;
  color: $blue;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 10px;
  display: inline-block;
}
.portal-pages-finder-result-favorite {
  position: absolute;
  top: 0px;
  right: 15px;
  color: $light-gray;
  font-size: 32px;
  text-shadow: -1px 0 $col-darkgray-50, 0 1px $col-darkgray-50, 1px 0 $col-darkgray-50, 0 -1px $col-darkgray-50;
}
.portal-pages-finder-result-favorite-active {
  color: $gold;
  text-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent;
}
.portal-pages-favorite-tooltip {
  background: $col-lightblue;
  color: #fff;
  display: none;
  font: 500 15px $font-museo-sans;
  line-height: 24px;
  margin: -125px 0 0 -130px;
  padding: 20px 30px;
  position: absolute;
  text-align: center;
  width: 200px;
  &:after {
    border-top: solid 10px $col-lightblue;
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    bottom: -10px;
    content: " ";
    display: block;
    height: 0;
    left: 50%;
    margin: 0 0 0 -10px;
    padding: 0;
    position: absolute;
    width: 0;
  }
}

.portal-pages-finder-load-all {
  text-align: center;
  margin: 60px 0 0;
}
.portal-pages-finder-load-all button {
  background: $col-orange;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: $white;
  display: block;
  font: 500 18px $font-museo-sans;
  padding: 20px 0;
  width: 100%;
  &:hover {
    background-color: $col-hover;
  }
}
.portal-pages-finder-header-filters {
  font: 900 13px $font-museo-sans;
  margin: 20px 0;
  text-transform: uppercase;
}
.portal-pages-finder-header-filter {
  background-color: $col-blue;
  color: $white;
  display: inline-block;
  margin-right: 10px;
  padding: 20px;
  span {
    color: $white;
    font-family: icomoon;
    margin: 0 0 0 20px;
    cursor: pointer;
  }
  span:after {
    content: "\e908";
  }
  &:hover {
    background: $col-darkgray;
  }

}
.portal-pages-finder-header-filters-clear {
  color: $orange;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 15px;
}
.portal-pages-resource-lightbox-not-found {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}



/* collections - ??? all removed? */

/* replace these "shim" classes with something better */
.portal-pages-diagonal-spacer {
  background: $col-lightgray;
  background: linear-gradient(to right bottom, $col-lightgray 50%, $col-mediumgray 50%);
  height: 150px;
}
.portal-pages-diagonal-spacer-2 {
  background: $col-lightgray;
  height: 220px;
  margin-bottom: -270px;
  width: 100%;
}

.portal-pages-resource-lightbox {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.portal-pages-resource-lightbox-background {
  background: $black;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.portal-pages-resource-lightbox-background-close {
  color: #fff;
  cursor: pointer;
  font-size: 48px;
  position: fixed;
  right: 20px;
  top: -10px;
  z-index: 1001;
}
.portal-pages-resource-lightbox-modal {
  background-color: $white;
  bottom: 30px;
  height: 100%;
  left: 50%;
  margin-left: -460px;
  overflow: auto;
  padding: 0 95px 80px;
  position: relative;
  right: 50%;
  top: 100px;
  width: 920px;
  z-index: 1002;
  a {
    display: inline;
  }
}

.portal-pages-resource-lightbox-modal-sharing {
  background: transparent;
  left: 50%;
  margin-left: -490px;
  position: fixed;
  top: 195px;
  z-index: 1003;
}
.portal-pages-resource-lightbox-modal-sharing a {
  background-color: $col-orange;
  color: $white;
  display: block;
  height: 30px;
  margin: 0 0 1px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: 100%;
  width: 30px;

  &:before {
    display: block;
    font: 18px icomoon;
    height: 100%;
    margin: 6px 0 0 -24px;
    position: absolute;
    width: 100%;
  }
  &.share-facebook:before {
    content: "\e90e";
    margin: 6px 0 0 -19px;
  }
  &.share-twitter:before {
    content: "\e910";
  }
  &.share-email:before {
    content: "\e90a";
  }
  &.share-more:before {
    content: "\e90d";
  }
}

.portal-pages-resource-lightbox-modal-content {
  color: $col-darkgray;
}
.portal-pages-resource-lightbox-icons {
  float: right;

  div {
    display: inline-block;
    margin: 0 5px;
    padding: 3px 7px;
    background-color: $light-gray;
  }
}
.portal-pages-resource-lightbox-modal-utility {
  height: 25px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: right;
  ul {
    height: 25px;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    font: 25px "icomoon";
    height: 25px;
    margin-left: 20px;
    list-style: none;
    width: 25px;
    a {
      display: block;
      overflow: hidden;
      position: relative;
      text-indent: 200%;
      white-space: nowrap;
      &:before {
        left: 0;
        position: absolute;
        text-indent: 0;
        top: 0;
      }
      &.print:before {
        content: "\e91d";
      }
      &.copy:before {
        content: "\e91c";
      }
      &.edit:before {
        content: "\e91b";
      }
      &.settings:before {
        content: "\e91a";
      }
    }
  }
}
.portal-pages-resource-lightbox-modal-content-top {
  padding: 0;
}
.portal-pages-resource-lightbox-modal-content-top img {
  height: 400px;
  max-height: 400px;
  width: 730px;
}
.portal-pages-resource-lightbox-modal-content h1 {
  color: $col-darkgray;
  font: 700 36px $font-museo-sans;
  line-height: 48px;
  margin: 20px 0;
}
.portal-pages-resource-lightbox-modal-content h2 {
  color: #000;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
.portal-pages-resource-lightbox-modal-content hr {
  border:none;
  border-top: 2px dotted $col-mediumgray;
  color:#fff;
  background-color:#fff;
  height:1px;
  margin: 50px 0;
}
.portal-pages-resource-lightbox-description {
  font: 300 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px 0;
}
.portal-pages-resource-lightbox-requirements {
  margin: 10px 0;
}
.portal-pages-resource-lightbox-requirements p {
  margin: 10px 0;
}
.portal-pages-resource-lightbox-standards {
  margin: 10px 0;
}
.portal-pages-resource-lightbox-learn-more {
  margin: 10px 0;
}

.portal-pages-resource-lightbox-related-content {
  background-color: $light-gray;
  margin: 40px -95px 0 -95px;
  padding: 50px 70px;
}
.portal-pages-resource-lightbox-related-content h2 {
  padding-left: 20px;
  text-transform: none;
}

$materials-collection-item-icon-width: 300px;

.portal-pages-finder-materials-collection-item {
  clear: both;
  padding: 30px 0;
  background-color: $light-gray;

  .portal-pages-finder-materials-collection-item-icon {
    float: left;

    img {
      max-width: $materials-collection-item-icon-width;
      height: auto;
    }
  }
  .portal-pages-finder-materials-collection-item-info {
    margin-left: $materials-collection-item-icon-width + 20;
    background-color: $white;
    padding: 30px 20px;

    h2 {
      font-size: 18px;
      color: $orange;
    }

    .portal-pages-finder-materials-collection-item-description {
      padding: 30px 0;
    }

    .portal-pages-finder-materials-collection-item-footer {
      .portal-pages-finder-materials-collection-item-grade-levels {
        div {
          color: $black;
        }
      }

      &:after {
        clear: both;
      }
    }
  }
}

.portal-pages-primary-button,
.portal-pages-primary-button:hover,
.portal-pages-primary-button:visited {
  display: inline-block;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 10px 20px;
  background: $col-orange;
  color: #fff;
  border: 2px solid $col-orange;
  font-size: 12px;
  font-weight: bold;
}
.portal-pages-secondary-button,
.portal-pages-secondary-button:hover,
.portal-pages-secondary-button:visited {
  display: inline-block;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-left: 7px;
  padding: 10px 20px;
  background: #fff;
  color: $col-orange;
  border: 2px solid $col-orange;
  font-size: 12px;
  font-weight: bold;
}

/*----- login and register forms -----*/
.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#signup-default-modal {
  font-size:    .8em !important;
  margin-left:  -26.6675em;
  margin-top:   -90px;
}
#modal-overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: .85;
  top: 0;
  width: 100%;
  z-index: 101;
}
.modal {
  margin: 0;
  position: fixed;
  top: 100px;
  }
.modal .close {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(51,51,51,0);
  color: $white;
  cursor: pointer;
  display: block;
  font: 300 46px $font-museo-sans;
  padding: 0;
  position: fixed;
  right: 20px;
  text-decoration: none !important;
  top: 20px;
  z-index: 102;
}

#login-form, #register-form {
  margin-left: -460px;
  min-height: 300px !important;
  padding: 60px 190px 0;
  width: 540px;

  dl, form { margin: 0; padding: 0; }
  dd {
    display: block;
    margin-bottom: 30px;
    &:nth-child(2) { /* find a better way to do this for login form */
      margin-bottom: 15px;
    }
    &.two-col {
      float: left;
      margin-top: 35px;
      margin-left: -74px;
      input[type="text"] {
        width: 240px;
      }
    }
    &.multi-col {
      float: left;
      margin-top: -9px;
      margin-right: 45px;
      input {
        margin-right: 10px;
        width: auto;
      }
    }
  }
  dt {
    display: block;
    font-size: 15px;
    line-height: 1;
    margin: 0 0 20px;
    text-transform: uppercase;
    &:nth-child(3) { /* find a better way to do this for reg form */
      margin-left: 28px;
    }
    &.two-col {
      float: left;
    }
    &.multi-col {
      float: left;
      margin-right: 45px;
    }
  }
  footer {
    background: $col-lightgray;
    color: $col-darkgray;
    font: 300 18px $font-museo-sans;
    height: auto;
    margin-left: -190px;
    padding: 50px 190px;
    width: 540px;
    a {
      font-weight: 700;
    }
    p {
      line-height: 30px;
      margin: 0;
    }
  }
  h2 {
    font: 100 36px $font-museo;
    color: $col-darkgray;
    line-height: 1;
    margin: 0 0 30px;
    padding: 0;
    strong {
      color: $col-blue;
      font-weight: 900;
    }
  }
  input[type="text"], input[type="password"] {
    border: solid 2px $col-blue;
    width: 528px;
  }
  input[type="submit"] {
    background: $col-orange;
    border: none;
    border-radius: 0 !important;
    font: 700 15px $font-museo-sans;
    margin-left: 20px;
    padding: 10px 20px !important;
  }
  .third-party-login-options {
    clear: both;
    overflow: hidden;
    ul {
      float: left;
    }
    li {
      display: inline;
    }
    p {
      float: left;
      margin: 8px 20px 0 0;
    }
    a.badge {
      border-radius: 50%;
      color: $white;
      display: block;
      height: 40px;
      margin-right: 10px;
      overflow: hidden;
      position: relative;
      text-indent: 200%;
      width: 40px;
      white-space: nowrap;
      &.google {
        background: #df4a32;
        color: $white;
        &:before {
          content: "\e90f";
          font: 24px "icomoon";
          left: 50%;
          margin: -12px 0 0 -12px;
          position: absolute;
          text-indent: 0;
          top: 50%;
        }
      }
    }
  }
  .submit-button-container {
    color: $col-darkgray-25;
    font: 700 15px $font-museo-sans;
    margin: 30px 0 60px;
    text-align: right;
  }
}

/* COLLECTION PAGE STYLES */
.landing-container .home-page-content { width: 100%; }
.portal-pages-collection-page-intro {

  &:nth-child(2) {
    a.special-link, p {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    figure {
      margin: 0 0 15px;
      padding: 0;
    }
  }

  h1 {
    font: 100 54px $font-museo;
    color: $col-darkgray;
    margin: 0;
  }
  dd, dt, li, p {
    font: 300 18px $font-museo-sans;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .tagline {
    display: none;
    }
  .byline {
    font: 300 24px $font-museo;
    line-height: 36px;
  }
}

#footer { display: none; } /* hide original portal footer */
