@import './styles/_colors.scss';
@import './styles/_icomoon.scss';
@import './styles/_layout.scss';
@import './styles/_sizes.scss';
@import './styles/_typography.scss';

html, body { height: 100%; }

a,
button,
.button,
input[type="submit"] {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -moz-transition-property: background-color, border-color, color, opacity;
  -o-transition-property: background-color, border-color, color, opacity;
  -webkit-transition-property: background-color, border-color, color, opacity;
  transition-property: background-color, border-color, color, opacity;
}

body {
  background: #fff url(http://localhost:10000/assets/body-bg.png) 0 5px repeat !important;
}

.landing-container {
  height: 100%;
}

.portal-pages-header-contain {
  height: 195px;
  margin-bottom: 40px;
}

/* top bar */
.portal-pages-umbrella {
  background-color: $col-lightgray;
  height: 40px;
  line-height: 40px;
}

.portal-pages-concord-link {
  text-align: right;
}

.portal-pages-concord-link__item {
  font-weight: 500;
  font-size:14px;
  vertical-align: middle;

  i {
    font-size: 12px;
    margin-left: 3px;
  }
}

/* nav */
.logo-contain {
  margin: 40px 0 35px 0;
}
.logo-contain:after {
  color: $col-blue;
  content: 'Learn Portal';
  font-size: 16px;
  left: 75px;
  position: relative;
  top: -10px;
  }
.concord-logo {
  background: url('http://localhost:10000/assets/banners/concord-logo.svg') no-repeat center;
  height: 80px;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  width: 255px;
  }

.portal-pages-nav-auth {
  min-width: 200px;
  text-align: right;
}

.portal-pages-main-nav-contain {
  position: relative;
  margin-top: 65px;
  text-align: right;
}

.portal-pages-main-nav-item {
  font-size: 18px;
  display: inline-block;
  margin-left: 40px;
  position: relative;
  &:last-child {
    margin-left: 10px;
  }
  a {
    color: $col-darkgray;
    border-bottom: 2px solid transparent;
    @include transition(all $transition-timing $transition-function);

    &:hover {
      border-color: $col-hover;
      padding: 0 0 8px 0;
      cursor: pointer;
    }

    &.button {
      background: $col-orange;
      border: solid 2px $col-orange;
      border-radius: 0;
      color: $white;
      font: 700 15px $font-museo-sans;
      padding: 10px 20px;
      text-align: center;
    }
    &.register {
      background: $white;
      color: $col-orange;
    }
    &.register:hover {
      background: $col-hover;
      border-color: $col-hover;
      color: $white;
    }
    &.log-in:hover {
      background-color: $col-hover;
      border-color: $col-hover;
      color: $white;
    }
    i.icon-login {
      display: block;
      float: left;
      margin-top: 1px;
      margin-right: 5px;
    }
  }
}

.site-content { overflow: visible !important; }
.portal-pages-page-content-contain { overflow: visible; }

/* hero */
.portal-pages-hero {
  margin: 0;
  overflow: visible;
  text-align: center;
}
.portal-pages-hero strong {
  color: $col-blue;
  font-weight: 900;
}
.portal-pages-hero h1 {
  color: $col-darkgray;
  font: 100 66px $font-museo;
  line-height: 72px;
  margin: 0;
}
.portal-pages-hero h1 strong:before {
  content: ' ';
  display: block;
}
.portal-pages-hero a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: $col-hover;
  }
}
.portal-pages-hero-info {
  font: 300 24px $font-museo-sans;
  line-height: 36px;
  margin: 50px 0 40px;
}
.portal-pages-hero-browse {
  font: 300 18px $font-museo-sans;
  margin-bottom: 60px;
}

/* finder */
#portal-pages-finder {
  background-color: $light-gray;
}
.portal-pages-finder-form {
  background: $yellow-gradient-to;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $yellow-gradient-from, $yellow-gradient-to);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $yellow-gradient-from, $yellow-gradient-to); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 400px;
  font-weight: bold;
}
.portal-pages-find-form--hidden {
  opacity: 0;
}
.portal-pages-finder-form-inner {
  margin: 0 auto;
  padding: 50px 0;
  width: $content-max;
}
.portal-pages-finder-form-subject-areas {
  text-align: center;
  margin-bottom: 55px;
}
.portal-pages-finder-form-subject-areas-logo {
  display: inline-block;
  width: 140px;
  text-align: center;
  cursor: pointer;
  .portal-pages-finder-form-subject-areas-logo-inner {
    background: #fff;
    color: #col-darkgray;
    border-radius: 50%;
    height: 80px;
    margin: 0 auto 15px;
    position: relative;
    text-align: center;
    width: 80px;
    &:before {
      display: block;
      font: 48px icomoon;
      height: 80px;
      left: 50%;
      margin: -23px 0 0 -40px;
      position: absolute;
      top: 50%;
      width: 80px;
    }
  }
  &:hover, &.selected {
    .portal-pages-finder-form-subject-areas-logo-inner {
      background: $col-blue;
      color: $white;
    }
  }
  &#earth-space {
    .portal-pages-finder-form-subject-areas-logo-inner:before {
      content: "\e915";
    }
  }
  &#engineering-tech {
    .portal-pages-finder-form-subject-areas-logo-inner:before {
      content: "\e916";
    }
  }
  &#life-sciences {
    .portal-pages-finder-form-subject-areas-logo-inner:before {
      content: "\e917";
    }
  }
  &#mathematics {
    .portal-pages-finder-form-subject-areas-logo-inner:before {
      content: "\e914";
    }
  }
  &#physics-chemistry {
    .portal-pages-finder-form-subject-areas-logo-inner:before {
      content: "\e918";
    }
  }
}
.portal-pages-finder-form-subject-areas-logo svg,
.portal-pages-finder-form-subject-areas-logo svg text {
  pointer-events: none;  /* to prevent errors in portal javascript handlers */
}
.portal-pages-finder-form-subject-areas-logo-label {
  font: 900 12px $font-museo-sans;
  margin-top: 2px;
  text-transform: uppercase;
}

.portal-pages-finder-form-filters {
  float: left;
  width: 250px;
}
.portal-pages-finder-form-filters-title {
  font-size: 16px;
}
.portal-pages-finder-form-filters-options {
  margin: 10px 0;
}
.portal-pages-finder-form-filters-option {
  font: 900 12px $font-museo-sans;
  margin: 7px 0;
  text-transform: uppercase;
}
.portal-pages-finder-form-filters-option input {
  display: none;
}
.portal-pages-finder-form-filters-option input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  margin-left: 30px;
  padding: 4px 0;
  position: relative;
  &:before {
    background: white;
    content: " ";
    display: inline-block;
    height: 20px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 0;
  }
}
.portal-pages-finder-form-filters-option input[type="checkbox"]:checked + label {
  &:before {
    color: #0592af;
    content: " \e907";
    font-family: "icomoon";
    font-size: 10px;
    line-height: 20px;
    text-align: center;
  }
}

.portal-pages-finder-form-search-title {
  font-size: 16px;
}
.portal-pages-finder-form-search {
  form {
    padding: 0;
  }
  input {
    border: none;
    font-size: 16px;
    margin-top: 10px;
    padding: 14px 14px 14px 55px;
    position: relative;
    width: 100%;
  }
  .portal-pages-search-input-container {
    position: relative;
    &:after {
      color: rgba(49, 49, 49, 0.25);
      content: "\e90c";
      font-family: "icomoon";
      font-size: 20px;
      left: 20px;
      position: absolute;
      top: 20px;
    }
  }
}
.portal-pages-finder-results {
  font-size: 16px;
}
.portal-pages-finder-results-inner {
  padding: 30px 0;
  width: $content-max;
}
.portal-pages-finder-results-cards {
  overflow: hidden;
}
.portal-pages-finder-result {
  background-color: $white;
  cursor: pointer;
  height: 355px;
  min-height: 355px;
  padding-bottom: 90px;
  /* position: unset; Using 'unset' here because of styling set in https://s3.amazonaws.com/models-resources/portal-pages/library/portal-pages.css. Remove once the latter is no longer affecting page. */
  vertical-align: top;
}
.portal-pages-finder-result a {
  display: block;
  position: relative;
}
.portal-pages-finder-result img {
  height: auto;
  height: 235px;
  max-height: 235px;
  pointer-events: none;
  width: 100%;
}
.portal-pages-finder-result-name {
  color: $blue;
  font: 700 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px;
  pointer-events: none;
}
.portal-pages-finder-result-description {
  background-color: $blue;
  border-bottom: solid 90px #0592af;
  bottom: 0;
  color: $white;
  height: 295px;
  left: 0;
  overflow: hidden;
  padding: 60px 30px 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
}
.portal-pages-finder-result-grade-levels {
  bottom: 30px;
  left: 30px;
  position: absolute;
  pointer-events: none;
  right: 30px;
}
.portal-pages-finder-result-grade-level {
  background-color: $light-gray;
  color: $blue;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 10px;
  display: inline-block;
}
.portal-pages-finder-result-favorite {
  position: absolute;
  top: 0px;
  right: 15px;
  color: $light-gray;
  font-size: 32px;
  text-shadow: -1px 0 $col-darkgray-50, 0 1px $col-darkgray-50, 1px 0 $col-darkgray-50, 0 -1px $col-darkgray-50;
}
.portal-pages-finder-result-favorite-active {
  color: $gold;
  text-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent;
}
.portal-pages-finder-header {
  margin: 20px 80px;
  font-size: 28px;
}
.portal-pages-finder-header-resource-count {
  color: $col-darkgray;
  font-family: $font-museo;
  font-size: 36px;
  font-weight: 100;
  strong {
    font-weight: 900;
  }
}
.portal-pages-finder-load-all {
  text-align: center;
  margin: 60px 0 0;
}
.portal-pages-finder-load-all button {
  background: $col-orange;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: $white;
  display: block;
  font: 500 18px $font-museo-sans;
  padding: 20px 0;
  width: 100%;
  &:hover {
    background-color: $col-hover;
  }
}
.portal-pages-finder-header-filters {
  font: 900 13px $font-museo-sans;
  margin: 20px 0;
  text-transform: uppercase;
}
.portal-pages-finder-header-filter {
  background-color: $col-blue;
  color: $white;
  display: inline-block;
  margin-right: 10px;
  padding: 20px;
  span {
    color: $white;
    font-family: icomoon;
    margin: 0 0 0 20px;
    cursor: pointer;
  }
  span:after {
    content: "\e908";
  }
  &:hover {
    background: $col-darkgray;
  }

}
.portal-pages-finder-header-filters-clear {
  color: $orange;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 15px;
}
.portal-pages-resource-lightbox-not-found {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

/* collections page */

.portal-pages-collections-page-header {
  background: transparent;
  font-size: 20px;
}
.portal-pages-collections-page-header h1 {
  font: 100 54px $font-museo;
  color: $col-darkgray;
  margin: 0 0 20px;
}
.portal-pages-collections-page-header-info {
  color: $col-darkgray;
  font: 300 24px $font-museo-sans;
  line-height: 36px;
}
.portal-pages-collections-page-header a {
  font-size: 18px;
  &.special-link:after {
    font-size: 18px;
    margin-top: 4px !important;
  }
}
.portal-pages-collections-page-diagonal-spacer {
  background:#fff;
  background: linear-gradient(to right bottom, $white 50%, $col-mediumgray 50%);
  height: 100px;
}
.portal-pages-collections-page-list {
  background-color: $col-mediumgray;
  margin-top: 20px;
}
.portal-pages-collections-page-list-inner {
  padding: 10px 0 30px 0;
  min-height: 1000px;
}

/* collections */

/* replace these "shim" classes with something better */
.portal-pages-diagonal-spacer {
  background: $col-lightgray;
  background: linear-gradient(to right bottom, $col-lightgray 50%, $col-mediumgray 50%);
  height: 150px;
}
.portal-pages-diagonal-spacer-2 {
  background: $col-lightgray;
  height: 220px;
  margin-bottom: -270px;
  width: 100%;
}

.portal-pages-collections {
  background-color: $medium-gray;
  font-size: 16px;
}
.portal-pages-collections-inner {
  padding: 40px 0 30px;
  width: $content-max;
}
.portal-pages-collections-inner h2 {
  color: $col-darkgray;
  font-size: 36px;
  font-weight: 100;
  line-height: 36px;
  margin: 0 20px 40px;
  strong {
    font-weight: 900;
  }
}
.portal-pages-collections-info {
  font-size: 18px;
  line-height: 30px;
  margin: 0 20px 30px;
}
.portal-pages-collections-info a {
  color: $orange;
  font-weight: bold;
}
.portal-pages-collections-cards {
  clear: both;
  margin-top: 0;
  overflow: hidden;
}
.portal-pages-collections-card {
  width: 285px;
  min-height: 450px;
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.portal-pages-collections-card img {
  height: 235px;
  max-height: 235px;
  pointer-events: none;
  width: 100%;
}
.portal-pages-collections-card-name {
  color: $col-blue;
  font: 700 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px;
}
.portal-pages-collections-card-description {
  color: $col-darkgray;
  font: 300 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px;
}

.portal-pages-resource-lightbox {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.portal-pages-resource-lightbox-background {
  background: $black;
  bottom: 0;
  left: 0;
  opacity: 0.85;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.portal-pages-resource-lightbox-background-close {
  color: #fff;
  font-size: 48px;
  position: fixed;
  right: 20px;
  top: -10px;
  z-index: 1001;
}
.portal-pages-resource-lightbox-modal {
  background-color: $white;
  bottom: 30px;
  height: 100%;
  left: 15%;
  overflow: auto;
  padding: 0 95px 80px;
  position: absolute;
  right: 50%;
  top: 100px;
  width: 730px;
  z-index: 1002;
  a {
    display: inline;
  }
}

.portal-pages-resource-lightbox-modal-sharing {
  background: transparent;
  left: 15%;
  margin-left: -30px;
  position: fixed;
  top: 195px;
  z-index: 1003;
}
.portal-pages-resource-lightbox-modal-sharing a {
  background-color: $col-orange;
  color: $white;
  display: block;
  height: 30px;
  margin: 0 0 1px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: 100%;
  width: 30px;

  &:before {
    display: block;
    font: 18px icomoon;
    height: 100%;
    margin: 6px 0 0 -24px;
    position: absolute;
    width: 100%;
  }
  &.share-facebook:before {
    content: "\e90e";
    margin: 6px 0 0 -19px;
  }
  &.share-twitter:before {
    content: "\e910";
  }
  &.share-email:before {
    content: "\e90a";
  }
  &.share-more:before {
    content: "\e90d";
  }
}

.portal-pages-resource-lightbox-modal-content {
  color: $col-darkgray;
}
.portal-pages-resource-lightbox-icons {
  float: right;

  div {
    display: inline-block;
    margin: 0 5px;
    padding: 3px 7px;
    background-color: $light-gray;
  }
}
.portal-pages-resource-lightbox-modal-utility {
  height: 25px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: right;
  ul {
    height: 25px;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    font: 25px "icomoon";
    height: 25px;
    margin-left: 20px;
    list-style: none;
    width: 25px;
    a {
      display: block;
      overflow: hidden;
      position: relative;
      text-indent: 200%;
      white-space: nowrap;
      &:before {
        left: 0;
        position: absolute;
        text-indent: 0;
        top: 0;
      }
      &.print:before {
        content: "\e91d";
      }
      &.copy:before {
        content: "\e91c";
      }
      &.edit:before {
        content: "\e91b";
      }
      &.settings:before {
        content: "\e91a";
      }
    }
  }
}
.portal-pages-resource-lightbox-modal-content-top {
  padding: 0;
}
.portal-pages-resource-lightbox-modal-content-top img {
  height: 400px;
  max-height: 400px;
  width: 730px;
}
.portal-pages-resource-lightbox-modal-content h1 {
  color: $col-darkgray;
  font: 700 36px $font-museo-sans;
  line-height: 48px;
  margin: 20px 0;
}
.portal-pages-resource-lightbox-modal-content h2 {
  color: #000;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
.portal-pages-resource-lightbox-modal-content hr {
  border:none;
  border-top: 2px dotted $col-mediumgray;
  color:#fff;
  background-color:#fff;
  height:1px;
  margin: 50px 0;
}
.portal-pages-resource-lightbox-description {
  font: 300 18px $font-museo-sans;
  line-height: 30px;
  margin: 30px 0;
}
.portal-pages-resource-lightbox-requirements {
  margin: 10px 0;
}
.portal-pages-resource-lightbox-requirements p {
  margin: 10px 0;
}
.portal-pages-resource-lightbox-standards {
  margin: 10px 0;
}
.portal-pages-resource-lightbox-learn-more {
  margin: 10px 0;
}

.portal-pages-resource-lightbox-related-content {
  background-color: $light-gray;
  margin: 40px -95px 0 -95px;
  padding: 50px 70px;
}
.portal-pages-resource-lightbox-related-content h2 {
  padding-left: 20px;
  text-transform: none;
}

$materials-collection-item-icon-width: 300px;

.portal-pages-finder-materials-collection-item {
  clear: both;
  padding: 30px 0;
  background-color: $light-gray;

  .portal-pages-finder-materials-collection-item-icon {
    float: left;

    img {
      max-width: $materials-collection-item-icon-width;
      height: auto;
    }
  }
  .portal-pages-finder-materials-collection-item-info {
    margin-left: $materials-collection-item-icon-width + 20;
    background-color: $white;
    padding: 30px 20px;

    h2 {
      font-size: 18px;
      color: $orange;
    }

    .portal-pages-finder-materials-collection-item-description {
      padding: 30px 0;
    }

    .portal-pages-finder-materials-collection-item-footer {
      .portal-pages-finder-materials-collection-item-grade-levels {
        div {
          color: $black;
        }
      }

      &:after {
        clear: both;
      }
    }
  }
}

.portal-pages-primary-button,
.portal-pages-primary-button:hover,
.portal-pages-primary-button:visited {
  display: inline-block;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 10px 20px;
  background: $col-orange;
  color: #fff;
  border: 2px solid $col-orange;
  font-size: 12px;
  font-weight: bold;
}
.portal-pages-secondary-button,
.portal-pages-secondary-button:hover,
.portal-pages-secondary-button:visited {
  display: inline-block;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-left: 7px;
  padding: 10px 20px;
  background: #fff;
  color: $col-orange;
  border: 2px solid $col-orange;
  font-size: 12px;
  font-weight: bold;
}

/* ----- Site Footer ----- */

#footer, .concord-footer {
  background-color: $col-mediumgray;
  padding: 0 0 50px;
  height: auto;

  .mobile-join-us {
    display: none;
  }
}

.footer-sitemap-contain {
  @include list-reset;
  margin-bottom: 62px;
}

.footer-link__heading {
  font-family: $font-museo;
  font-weight: 700;
  font-size: 16px;
  color: $col-darkgray;
  margin-bottom: 30px;
}

.footer-link__item {
  @include list-reset;
  color: $col-darkgray-50;
  font-family: $font-museo-sans;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;

  a {color: $col-darkgray-25  ;}
  a:hover {color: $col-darkgray;}
}

.page-footer-inner {
  border-top: 2px dotted $col-darkgray-15;
  padding-top: 100px;
}


.newsletter-social-contain {
  text-align: right;
}

/* Footer Newsletter Signup */
.footer-newsletter {
  position: relative;

  input {
    margin: 0 0 30px 0;
    position: relative;
    max-width: 255px;
    float: right;
    border: 2px solid $col-darkgray-15;
  }

  /* Icon */
  &:after {
    content: "\e904";
    position: absolute;
    color: $col-darkgray;
    font-family: "icomoon";
    font-size: 20px;
    line-height: 55px;
    top: 0;
    right: 20px;
  }
}

.footer-newsletter__link {
  display: inline-block;
  line-height: 50px;
  color: $col-default;
  font-size: 15px;
  padding: 0 40px 0 20px;
  font-family: $font-museo;
  width: 100%;
  text-align: left;

  &:hover {
    border-color: $col-darkgray;
  }
}


/* Social Media Links */
.footer-social-links {
  position: relative;
  padding: 0 30px 0 0;
  clear: right;
}

.social-link__twitter {
  display: inline-block;
  color: $col-darkgray;
  margin: 0 15px 0 0;
  &::before {
    @include transition(all $transition-timing $transition-function);
    content: "\e910";
    font-family: "icomoon";
    font-size: 12px;
    border: 2px solid $col-darkgray-15;
    padding: 6px;
    border-radius: 50%;
  }
  &:hover::before {
    color: $col-hover;
    border-color: $col-darkgray;
  }
}

.social-link__facebook {
  display: inline-block;
  color: $col-darkgray;
  margin: 0 15px 0 0;
  &::before {
    @include transition(all $transition-timing $transition-function);
    content: "\e90e";
    font-family: "icomoon";
    font-size: 12px;
    border: 2px solid $col-darkgray-15;
    padding: 6px 9px;
    border-radius: 50%;
  }
  &:hover::before {
    color: $col-hover;
    border-color: $col-darkgray;
  }
}

.social-link__google-plus {
  display: inline-block;
  color: $col-darkgray;
  &::before {
    @include transition(all $transition-timing $transition-function);
    content: "\e90f";
    font-family: "icomoon";
    font-size: 15px;
    border: 2px solid $col-darkgray-15;
    padding: 5px;
    border-radius: 50%;
    position: relative;
    top: 1px;
  }
  &:hover::before {
    color: $col-hover;
    border-color: $col-darkgray;
  }
}

/* Sub Footer */
.sub-footer {
  border-top: 2px dotted $col-darkgray-15;
  padding: 55px 0 0 0;
}

.sub-footer__copyright {
  font-size: 12px;
  color: $col-darkgray-50;
}
.sub-footer__blenderbox {
  font-size: 12px;
  color: $col-darkgray-50;
  text-align: right;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  clear: both;
  height: $footer-height;
  position: relative;
  padding: 1rem;
}

/*----- login and register forms -----*/
.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#modal-overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: .85;
  top: 0;
  width: 100%;
  z-index: 101;
}
.modal {
  margin: 0;
  position: fixed;
  top: 100px;
  }
.modal .close {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(51,51,51,0);
  color: $white;
  cursor: pointer;
  display: block;
  font: 300 46px $font-museo-sans;
  padding: 0;
  position: fixed;
  right: 20px;
  text-decoration: none !important;
  top: 20px;
  z-index: 102;
}

#login-form {
  margin-left: -460px;
  min-height: 300px !important;
  padding: 60px 190px 0;
  width: 540px;

  dl, form { margin: 0; padding: 0; }
  dd {
    margin-bottom: 30px;
  }
  dt {
    font-size: 15px;
    margin: 0 0 20px;
    text-transform: uppercase;
  }
  footer {
    background: $col-lightgray;
    color: $col-darkgray;
    font: 300 18px $font-museo-sans;
    height: auto;
    margin-left: -190px;
    padding: 60px 190px;
    width: 540px;
    a {
      font-weight: 700;
    }
    p {
      line-height: 30px;
      margin: 0;
    }
  }
  h2 {
    font: 100 36px $font-museo;
    color: $col-darkgray;
    margin: 0 0 30px;
    padding: 0;
    strong {
      color: $col-blue;
      font-weight: 900;
    }
  }
  input[type="text"], input[type="password"] {
    border: solid 2px $col-blue;
    width: 528px;
  }
  input[type="submit"] {
    background: $col-orange;
    border: none;
    border-radius: 0 !important;
    font: 700 15px $font-museo-sans;
    margin-left: 20px;
    padding: 10px 20px !important;
  }
  .third-party-login-options {
    a.badge {
      border-radius: 50%;
      color: $white;
      display: inline-block;
      height: 40px;
      overflow: hidden;
      position: relative;
      text-indent: 200%;
      width: 40px;
      white-space: nowrap;
      &.google {
        background: #df4a32;
        color: $white;
        &:before {
          content: "\e90f";
          font: 24px "icomoon";
          left: 50%;
          margin: -12px 0 0 -12px;
          position: absolute;
          text-indent: 0;
          top: 50%;
        }
      }
    }
  }
  .submit-button-container {
    font: 700 15px $font-museo-sans;
    margin: 30px 0 60px;
    text-align: right;
  }
}

/* COLLECTION PAGE STYLES */
.landing-container .home-page-content { width: 100%; }
.portal-pages-collection-page-intro {

  &:nth-child(2) {
    a.special-link, p {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    figure {
      margin: 0 0 15px;
      padding: 0;
    }
  }

  h1 {
    font: 100 54px $font-museo;
    color: $col-darkgray;
    margin: 0;
  }
  dd, dt, li, p {
    font: 300 18px $font-museo-sans;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .tagline {
    display: none;
    }
  .byline {
    font: 300 24px $font-museo;
    line-height: 36px;
  }
}
.portal-pages-collection-resource-list {
  clear: both;

  h2 {
    color: $col-darkgray;
    font: 700 24px $font-museo-sans;
    margin-bottom: 0;
  }
  .material-item {
    background: transparent !important;
    .material-item-content {
      background: $white;
      margin-bottom: 30px;
      padding: 50px 30px 40px;
    }
    .material-item__title {
      font: 700 18px $font-museo-sans;
      line-height: 24px;

      a {
        color: $col-blue;
      }
    }
    .material-item__description {
      color: $col-darkgray;
      font: 300 15px $font-museo-sans;
      line-height: 24px;
    }
    .material-item__image {
      margin-top: 0;
      img {
        border: solid 1px $col-mediumgray;
        height: auto;
        width: 100%;
      }
    }
  }
}

#footer { display: none; } /* hide original portal footer */
