.breadcrumb-menu {
  margin-bottom: 10px;
}
.breadcrumb-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb-menu li {
  display: inline;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.breadcrumb-menu li:after {
  content: ' /';
  color: #0592af;
}
.breadcrumb-menu li:last-child:after {
  content: '';
}
.breadcrumb-menu li .icon-arrow-diagonal {
  color: #0592af;
  font-size: 10px;
  margin-right: 2px;
  transform: rotate(-135deg);
  transition: .2s;
}
.breadcrumb-menu li a {
  color: #0592af;
  transition: .2s;
}
.breadcrumb-menu li a:hover, .breadcrumb-menu li a:hover .icon-arrow-diagonal {
  color: #ffc320;
}
.portal-pages-collection-page-intro p {
  font-size: 18px !important;
  line-height: 1.8em !important;
}

.portal-pages-collection-page-intro h1 {
  font-weight: 900;
}
.portal-pages-collection-page-intro img {
  margin-top: 10px;
}

.lightbox__tags {
  margin-bottom: 20px;
}
.lightbox__tags span {
  background: #eee;
  clear: left;
  color: #111;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 10px;
  text-align: center;
}
.lightbox__tags span.time-req {
  background-image: url(https://learn-resources.concord.org/images/clock.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
  color: #000;
  padding-left: 30px;
}
.view-resources, .view-resources a {
  font-weight: 700;
}
.view-resources .icon-arrow-diagonal {
    border: solid 4px #ea6d2f;
    border-radius: 50%;
    color: #ea6d2f;
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0 0 10px;
    padding: 9px;
    transform: rotate(135deg);
    transition: .2s;
}
.view-resources:hover, .view-resources:hover .icon-arrow-diagonal {
  border-color: #ffc320;
  color: #ffc320;
}
.unit-includes {
  background:  #f3f3f3;
  font-size: .9em;
  margin: 20px 0 20px;
  padding: 10px 20px 15px;
}
.unit-includes h2 {
  color: #313131;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 5px;
  text-align: center;
}
ul.checkmarks {
  columns: 2;
  list-style: none;
  margin: 0;
}
ul.checkmarks li {
  display:inline-block;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 0 3px;
}
ul.checkmarks li:before {
  border: solid #2da343;
  border-width: 0 3px 3px 0;
  content: '';
  display: inline-block;
  height: 10px;
  margin-right: 8px;
  transform: rotate(35deg);
  width: 5px;
}

#teacher-resources {
  background: #eee;
  margin-top: 20px;
  padding: 0 0 30px;
}
#teacher-resources h2 {
  border-bottom: solid 5px #ccc;
  color: #313131;
  text-align: center;
  margin: 0 auto 20px;
  padding: 15px 10px 10px;
  width: 92.75%;
}
#teacher-resources h3 {
  margin-bottom: 20px;
}
#teacher-resources div.col-6:nth-of-type(1) {
  line-height: 1.4;
  margin-right: 0;
  padding: 0 0 0 2.63158%;
}
#teacher-resources div.col-6:nth-of-type(2) {
  line-height: 1.4;
  margin-left: 0;
  padding: 0 2.63158% 0 0;
}
#teacher-resources div.col-6 p {
  font-size: 16px;
  line-height: 1.4;
}
#teacher-resources div.col-6 p a {
  font-weight: 500;
}

.skew.gray {
  background: #eee;
  clear: both;
  margin-top: 50px;
  padding-top: 30px;
  transform: skewY(0deg);
}
.skew, .skew .skew-cancel {
  transform: none;
}
.skew.top-only:after {
  transform: none;
}
.skew-cancel {
  padding: 0;
}

.collapsible {
  border-bottom: solid 5px rgba(49, 49, 49, 0.15);
  }

h3.collapsible-toggle {
  color: #0592af;
  border-bottom: solid 5px rgba(49, 49, 49, 0.15);
  display: block;
  font-family: museo-sans,verdana,helvetica,sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
  padding: 30px 45px 30px 0;
  position: relative;
  }

.collapsible-toggle:after {
  background: #0592af;
  border-radius: 50%;
  color: #fff;
  content: '+';
  display: block;
  font-size: 16px;
  font-weight: 700;
  height: 17px;
  line-height: 1;
  margin: -10px 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 0;
  top: 50%;
  width: 17px;
  }

h3.collapsible-toggle:hover {
  color: #999;
  }
h3.collapsible-toggle:hover:after {
  background: #999;
  }

.collapsible-toggle.open {
  border-bottom: none;
  }

.collapsible-toggle.open:after {
  animation: spin-toggle-open 0.5s normal forwards;
  }

@keyframes spin-toggle-open {
  100% {
    transform: rotate(45deg);
  }
}

#units-tab ul {
  list-style: none;
  margin: 0;
  }

#units-tab li {
  clear: both;
  }

#units-tab ul ul {
  list-style: disc;
  margin: 0 0 30px 20px;
  }

@media screen and (max-width: 950px) {
  .portal-pages-collection-page-intro:nth-child(2) figure {
    height: auto;
    margin-bottom: 60px;
  }
