body.member-visitor #content { overflow-y: hidden; }
body.guest-visitor .wrapper { width: auto !important; }
#primary.wide { width: 100%; }
#primary.wide #content { overflow: hidden; }
body.member-visitor .portal-pages-collection-page-intro:nth-child(1) { width: 100%; }
body.member-visitor .portal-pages-collection-page-intro:nth-child(2) { display: none; }

.collapsible {
  width: 98%; }

h3.collapsible-toggle {
  color: #0592af;
  border-bottom: solid 5px rgba(49, 49, 49, 0.15);
  display: block;
  font-family: museo-sans,verdana,helvetica,sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
  padding: 30px 0;
  width: 100%; }

.collapsible-toggle:after {
  background: #0592af;
  border-radius: 50%;
  color: #fff;
  content: '+';
  display: inline-block;
  float: right;
  font-size: 16px;
  font-weight: 700;
  height: 17px;
  line-height: 1;
  margin: 5px 0 0;
  padding: 0 2px;
  text-align: center;
  text-indent: 0;
  width: 17px; }

h3.collapsible-toggle:hover {
  color: #999; }
  h3.collapsible-toggle:hover:after {
    background: #999; }

.collapsible-toggle.open:after {
  animation: spin-toggle-open 0.5s normal forwards; }

#units-tab li {
  clear: both;
  list-style: none;
  margin-bottom: .25em; }

#units-tab ul {
  margin-left: 0; }

#units-tab ul ul li {
  overflow: hidden;
  padding: 1em 1em .25em; }

#units-tab ul ul li:nth-child(even) {
  background: #eee; }

#units-tab li h4 {
  color: #0093b0;
  font-size: .9em;
  margin: 0; }
