body.member-visitor .portal-pages-collection-page-intro:nth-child(1) { width: 100%; }
body.member-visitor .portal-pages-collection-page-intro:nth-child(2) { display: none; }
.portal-pages-collection-page-intro p.portal-pages-intro-paragraph { font-weight: 100; }
