.portal-pages-finder-form-subject-areas {
  margin-bottom: 30px;

  .portal-pages-finder-form-subject-areas-logo {
    float: left !important;
    margin-bottom: 25px;
    text-align: center;
    width: 50% !important;

    &:last-child {
      width: 100% !important;
    }

    .portal-pages-finder-form-subject-areas-logo-inner {
      float: none;
      margin: 0 auto 10px;
      text-align: center;
    }
    .portal-pages-finder-form-subject-areas-logo-label {
      float: none;
      margin: 0;
    }
  }

  .portal-pages-finder-form-filters {
    display: none;
  }
}

// Mobile Toggle
.mobile-filter-toggle {
  color: $col-darkgray;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-family: $font-museo-sans;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
