.progressTable {
  width: 100%;
  margin: 20px 0 0 0;
  table-layout: fixed;

  .names {
    width: 110px;
    text-align: left;
  }
  .lastRun {
    width: 75px;
    text-align: left;
  }

  th, .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .progressBar {
    border: solid 1px #666;
    background: white;
    .bar {
      height: 10px;
      background: #ffcd99;
      &.completed {
        background: #ff8415;
      }
    }
  }
}
