#new-account-form fieldset.ng-scope .group .f-row {
  vertical-align: middle
}

#flash {
  left: 50%;
  margin: 0 0 0 -480px;
  position: absolute;
  top: 60px;
  width: 960px;
  z-index: 100;
}

.flash.notice {
  border: none;
  padding: 5px 10px;
}

#notice_container, .project_cards, .result_material {
  display: none;
}

.landing-container {
  display: block !important;
  height: auto;
  margin: 0;
  overflow: hidden;
}

.landing-container * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.landing-container .home-page-content {
  display: block !important;
  overflow: visible;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.lightbox_overlay {
  position: fixed !important;
  z-index: 10 !important;
}

.lightbox {
  position: fixed !important;
  z-index: 15 !important;
}

#collections li a, #footer-links a, #resources li a, .show-more a.close-link, .show-more div div.slideshow a, .show-more div.tabs a {
  text-decoration: none
}

#collections li, #paths li, #paths ul, #resources li {
  list-style: none
}

#schoology_login_button, .header-login-box, circle {
  display: none
}

#intro h1, #practices li, .button, h2 {
  text-align: center
}

#grade-levels-heading, #resource-types-heading, h2 {
  clear: both
}

#header-login-box {
  font-size: .7em
}

#wrapper {
  width: 100%
}

#lead.project-header {
  height: 60px;
  margin: 0 auto;
  width: 960px
}

#primary {
  float: none;
  margin: 0 auto
}

body {
  height: auto;
  min-height: 100%;
  padding-bottom: 0 !important
}

body.blank {
  background: url(/assets/styles/bg-body-no-nav-b131a349ecc891f40a791482a4af2557.png) repeat-x;
  background-position: 0 -40px;
  font: 100% lato, verdana, helvetica, sans-serif;
  line-height: 1;
  padding-bottom: 70px
}

#lead.project-header, .col-50 {
  position: relative
}

a {
  color: #0091b1
}

em {
  font-style: italic
}

h1 {
  color: #eb8723;
  font: 300 2em museo-sans, verdana, helvetica, sans-serif
}

h1 strong, strong {
  font-weight: 700
}

h2 {
  color: #e16a3e;
  font: 700 1.25em museo-sans, verdana, helvetica, sans-serif;
  padding: 0 0 10px
}

sub {
  vertical-align: sub;
  font-size: smaller
}

.button {
  background: #eb8723 !important;
  border: none;
  border-bottom: 3px solid #e16a3e !important;
  color: #fff;
  cursor: pointer !important;
  font-size: 1.2em !important;
  font-weight: 500 !important;
  font-family: museo-slab, georgia, times, 'times new roman', serif !important;
  margin-bottom: 1em !important;
  margin-right: .6em !important;
  padding: 5px 15px !important;
  -khtml-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  -moz-appearance: none;
  -webkit-appearance: none
}

.orange {
  color: #eb8723
}

.disabled {
  cursor: default
}

#core-ideas li, #resources li, .enabled, .modal .close {
  cursor: pointer
}

#grade-levels .enabled, #grade-levels li:hover, #resource-types .enabled, #resource-types li:hover {
  border-color: #59b4c0 !important
}

.col-50 {
  float: left;
  width: 50%
}

.col-50.right {
  background: #f9eec1;
  border-radius: 12px;
  float: right;
  margin-top: -38px;
  padding: 3.5% 4% 5% !important;
  width: 42%
}

.col-50.right h3 {
  color: #3f3f3f;
  font: 1.3em museo;
  margin-bottom: .25em
}

#content {
  display: none;
  font-size: 100%
}

#nav_top {
  height: 1em
}

#nav_top li {
  height: 16px !important;
margin-top: 5px;
}

#nav_top li, .welcome-box {
  font-size: .8em
}

#page-wrapper {
  min-height: 100%;
  overflow: auto
}

.project-header h1 {
  background-size: 100%;
  height: 50px;
  width: 147px
}

.welcome-box {
  height: 60px;
  left: 50%;
  margin: 0 20px 0 -480px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 960px
}

.welcome-box table {
  height: 60px;
  line-height: 120%
}

#nav_top, header div {
  margin: 0 auto;
  width: 960px
}

#nav_top ul.menu_h {
  top: 0 !important;
}

#nav_top a {
display:block;
height:14px;
padding-top: 2px;
}

header {
  background: #bddfdf;
  height: 55px;
  padding: 10px 0 0
}

header img {
  border: none
}

#lead.project-header #accounts {
  color: #0091b1;
  position: absolute;
  right: 0;
  top: .6em;
}

#core-ideas li, #practices li {
  background: #f9eec1;
  color: #af4927;
  float: left
}

#core-ideas li, #paths, #resources, #resources li, #search {
  position: relative
}

#intro, #paths, #search {
  width: 960px
}

#lead.project-header #accounts a {
  border: 1px solid #0091b1;
  border-radius: 4px;
  display: inline-block;
  font-family: museo-slab;
  margin-left: .5em;
  padding: 5px 25px;
  text-decoration: none
}
#accounts a#help-link {
background:transparent !important;
border:none !important;
font-size:.8em;
font-family:museo-sans !important;
padding:0 !important;
margin-right: 10px;
opacity: .5;
}
#accounts a#help-link:hover { opacity: 1; }
#paths, #practices, #search {
  margin: 0 auto
}

header #social {
  color: #0091b1;
  float: right;
  text-align: right;
  width: 56px
}

#facebook, #twitter {
  display: block;
  float: left;
  height: 24px;
  margin: 4px 2px;
  position: relative;
  text-align: left;
  text-indent: -999em;
  width: 24px
}

#facebook {
  background: url(https://concord.org/sites/default/files/images/learn/facebook.png) no-repeat
}

#twitter {
  background: url(https://concord.org/sites/default/files/images/learn/twitter.png) no-repeat
}

#intro {
  line-height: 140%;
  margin: 25px auto 0
}

#intro a {
  border-bottom: dotted 1px #479492;
}

#intro h1 {
  color: #f00;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

#intro p {
  color: #777;
  font: 300 1em museo-sans, lato, verdana, helvetica, sans-serif;
  line-height: 150%;
  margin-bottom: .5em;
  text-align: center;
}

#intro ol {
  margin-left: 40px
}

#search input[type=text] {
  border: 1px solid #ccc;
  border-radius: .375em;
  color: #aaa;
  float: left;
  font-size: 1.2em;
  font-weight: 400;
  clear: left;
  margin-left: 10%;
  padding: 1%;
  width: 60.2121%
}

::-webkit-input-placeholder {
  font-family: verdana, helvetica, sans-serif
}

:-moz-placeholder {
  font-family: verdana, helvetica, sans-serif
}

::-moz-placeholder {
  font-family: verdana, helvetica, sans-serif
}

:-ms-input-placeholder {
  font-family: verdana, helvetica, sans-serif
}

#search input[type=submit] {
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 1.2em;
  margin-left: 1%;
  padding: 11px 0 !important;
  width: 15%
}

#advanced-search-link {
  font-size: .7em;
  bottom: 43px;
  margin: 0;
  position: absolute;
  right: 20px
}

#paths {
  background: #fff;
  height: auto
}

#filter-blocker {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100
}

#practices-heading {
  display: none
}

#practices {
  display: none;
  height: 50px;
  width: 900px
}

#practices li {
  border: 2px solid #f9d979;
  font: 75% museo-sans, arial, helvetica, sans-serif;
  height: 24px;
  margin: 0 3px;
  padding: 7px 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px
}

#practices li:hover {
  opacity: .8
}

#core-ideas-heading {
  color: #aaa;
  left: 90px;
  line-height: 90%;
  position: absolute;
  top: 20%
}

#core-ideas-heading span {
  font-size: 11px
}

#core-ideas {
  height: 125px;
  margin: 20px auto 10px;
  width: 544px
}

#core-ideas li {
  border: 3px solid #f9d979;
  font: 75% museo-sans, arial, helvetica, sans-serif;
  height: 100px;
  margin: 0 5px;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 100px;
  opacity: 1
}

#core-ideas li p {
  bottom: 8px;
  font-size: 1.2em;
  margin-bottom: 0;
  position: absolute;
  text-align: center;
  width: 100px
}

ul#crosscutting-concepts li, ul#grade-levels li, ul#resource-types li {
  color: #3994a0;
  font: 75% museo-sans, arial, helvetica, sans-serif;
  height: 17px;
  margin: 0 3px;
  float: left;
  text-align: center
}

#core-ideas li#life-sciences {
  background: url(https://concord.org/sites/default/files/images/learn/life-sciences.gif) center 15px no-repeat #e75922;
  border: 3px solid #b5570e;
  color: #fff
}

#core-ideas li#engineering-technology {
  background: url(https://concord.org/sites/default/files/images/learn/engineering-technology.gif) center 12px no-repeat #04788c;
  border: 3px solid #06637c;
  color: #fff
}

#core-ideas li#earth-space-sciences {
  background: url(https://concord.org/sites/default/files/images/learn/earth-space-sciences.gif) center 12px no-repeat #449f45;
  border: 3px solid #338236;
  color: #fff
}

#core-ideas li#physical-sciences {
  background: url(https://concord.org/sites/default/files/images/learn/physical-sciences.gif) center 15px no-repeat #f7ab1b;
  border: 3px solid #c88a12;
  color: #fff
}

#core-ideas li:hover {
  opacity: 1
}

#core-ideas li.disabled {
  opacity: .5
}

#core-ideas li.enabled:hover {
  opacity: 1 !important
}

#crosscutting-concepts-heading {
  display: none;
  margin-bottom: -75px
}

ul#crosscutting-concepts {
  display: none;
  height: 50px;
  margin: 0 auto;
  width: 800px
}

ul#crosscutting-concepts li {
  border: 2px solid #aee0dc;
  padding: 10px 8px 3px 28px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px
}

ul#crosscutting-concepts li:hover {
  opacity: .8
}

#patterns {
  background: url(https://concord.org/sites/default/files/images/learn/patterns.gif) 2px 2px no-repeat #c7e9e8
}

#causation {
  background: url(https://concord.org/sites/default/files/images/learn/causation.gif) 2px 2px no-repeat #c7e9e8
}

#scale {
  background: url(https://concord.org/sites/default/files/images/learn/scale.gif) 2px 2px no-repeat #c7e9e8
}

#systems {
  background: url(https://concord.org/sites/default/files/images/learn/systems.gif) 2px 2px no-repeat #c7e9e8
}

#energy {
  background: url(https://concord.org/sites/default/files/images/learn/energy.gif) 2px 2px no-repeat #c7e9e8
}

#structure-function {
  background: url(https://concord.org/sites/default/files/images/learn/structure.gif) 2px 2px no-repeat #c7e9e8
}

#stability-change {
  background: url(https://concord.org/sites/default/files/images/learn/stability.gif) 2px 2px no-repeat #c7e9e8
}

#grade-levels-container, #resource-types-container {
  float: right;
  margin-top: 1em;
  width: 50.5%
}

#resource-types-container {
  margin-right: 4px;
  width: 48%
}

ul#grade-levels {
  float: left;
  height: 50px;
  margin: 0;
  width: 100%
}

ul#grade-levels li, ul#resource-types li {
  background: #c7e9e8;
  border: 2px solid #aee0dc;
  padding: 6px 4px 3px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px
}

ul#grade-levels li:hover, ul#resource-types li:hover {
  opacity: 1
}

ul#resource-types {
  float: right;
  height: 50px;
  margin: 0;
  width: 468px
}

ul#resource-types li.enabled {
  background-position: 3.5px -5px
}

.check {
  background: url(https://concord.org/sites/default/files/images/learn/checkboxes.png) 0 2px no-repeat;
  display: block;
  float: left;
  height: 14px;
  margin-top: -1px;
  width: 16px
}

li.enabled .check {
  background-position: 0 -12px;
  margin-top: 1px
}

#instructions {
  background: #f9eec1;
  color: #554c2f;
  display: none;
  font-size: 1em;
  height: 50px;
  line-height: 130%;
  margin: -20px 0 0;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 28%;
  width: 135px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(51, 51, 51, .4)
}

#loading {
  color: #999;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}

#resources {
  background: #fff;
  height: 494px;
  margin: 0 auto 20px;
  min-height: 200px;
  overflow: hidden;
  padding: 0 0 40px;
  width: 100%
}

#resources h2 {
  color: #0091b1;
  display: none;
  margin-left: 15px;
  text-align: left
}

#resources ul {
  margin: 0 auto;
  width: 960px
}

#resources li {
  border: 10px solid #fff;
  display: block;
  float: left;
  font-size: .9em;
  height: auto;
  line-height: 140%;
  margin: 0;
  max-height: 230px;
  min-height: 230px;
  width: 220px;
  z-index: 1
}

#resources li.selected:after {
  border: solid transparent;
  border-top-color: #0091b1;
  border-width: 12px;
  content: " ";
  height: 0;
  left: 50%;
  margin-top: -5px;
  margin-left: -12px;
  position: absolute;
  pointer-events: none;
  top: 102%;
  width: 0
}

#resources li h2 {
  background: #fff;
  padding: .5em .65em 0
}

#resources li p {
  background: #fff;
  padding: .5em 1em 1em
}

#resources li a {
  background: #f6f6f6;
  border: 1px solid #ddd;
  color: #777;
  display: block;
  font: .8em verdana, helvetica, sans-serif;
  font-weight: 300;
  height: auto;
  max-height: 203px;
  min-height: 203px;
  padding: 10px 10px 15px
}

#resources li a:nth-child(2) {
  display: none
}

#resources li.selected a {
  border: 1px solid #0091b1
}

#resources li.selected .description {
  display: block;
  opacity: 1
}

#resources li a:hover {
  color: #111
}

#resources li a strong.title {
  color: #0091b1;
  display: block;
  font: 500 1.2em museo-sans;
  margin-bottom: .5em
}

#resources li a:hover strong.title {
  color: #0091b1
}

#resources li .image-wrap {
  clear: both;
  height: 144px;
  margin: -10px -10px 1em;
  overflow: hidden;
  width: 218px
}

#resources li img {
  height: auto;
  width: 100%
}

#resources li a span.description {
  background: #0091b1;
  color: #fff;
  display: none;
  font-size: 1.1em;
  height: 200px;
  left: 0;
  line-height: 1.4;
  opacity: .9;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 190px;
  z-index: 2
}

#resources button, #resources li a:hover span.description, span.more {
  display: block
}

span.more {
  background: #fff;
  border-radius: 8px;
  color: #0091b1;
  margin: 1em auto;
  padding: 5px;
  text-align: center;
  width: 100px
}

#resources p {
  display: none;
  padding-left: 15px
}

#resources p#error {
  color: #c00;
  font-size: 1.2em;
  text-align: center
}

#resources p#resource-list-status {
  display: block;
  margin: .5em auto;
  width: 960px
}

#resources button {
  background: #f4b626;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(51, 51, 51, .3);
  background-image: linear-gradient(top, #f4b626 0, #eb8723 100%);
  background-image: -o-linear-gradient(top, #f4b626 0, #eb8723 100%);
  background-image: -moz-linear-gradient(top, #f4b626 0, #eb8723 100%);
  background-image: -ms-linear-gradient(top, #f4b626 0, #eb8723 100%);
  background-image: -webkit-linear-gradient(top, #f4b626 0, #eb8723 100%)
}

#resources button:hover {
  background: #ffc328;
  background-image: linear-gradient(top, #ffc328 0, #f59123 100%);
  background-image: -o-linear-gradient(top, #ffc328 0, #eb8723 100%);
  background-image: -moz-linear-gradient(top, #ffc328 0, #eb8723 100%);
  background-image: -ms-linear-gradient(top, #ffc328 0, #eb8723 100%);
  background-image: -webkit-linear-gradient(top, #ffc328 0, #f59123 100%)
}

#resources button:active {
  box-shadow: 0 0 0 rgba(51, 51, 51, .3)
}

#resources .more-details {
  display: none
}

ul.privileged-links {
  margin: -20px 0 0;
  padding: 11px 0
}

ul.privileged-links li {
  display: inline;
  margin: 0 .5em 0 0
}

ul.privileged-links li a {
  background: #8cbbb8;
  border-radius: 4px;
  color: #fff;
  font: 500 .9em museo-slab, georgia, times, 'times new roman', serif !important;
  padding: 5px 15px
}

#resources-overlay a:hover, ul.privileged-links li a:hover {
  background: #479492;
  color: #fff
}

#resources-overlay {
  background: url(https://concord.org/sites/default/files/images/learn/gradient-overlay.png) left bottom;
  bottom: 0;
  height: 300px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10
}

#resources-overlay a {
  background: #fff;
  bottom: 2em;
  border: 1px solid #479492;
  border-radius: 4px;
  display: block;
  left: 50%;
  margin: 0 0 0 -85px;
  padding: .5em;
  position: absolute;
  text-align: center;
  width: 170px
}

.corner-text-wrapper {
  bottom: -45.71px;
  clip: rect(0, 141.42px, 70.71px, 0);
  height: 141.42px;
  position: absolute;
  right: -44.71px;
  width: 141.42px;
  z-index: 1;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5)
}

.corner-text {
  display: block;
  top: 20px;
  height: 200px;
  left: 20px;
  position: absolute;
  width: 100px;
  z-index: 2
}

#resources li.sequence .icon {
  bottom: 5px;
  height: 32px;
  opacity: .7;
  position: absolute;
  right: 3px;
  width: 32px
}

#resources li.sequence .icon img {
  height: 32px;
  margin: 0;
  width: 32px
}

.corner-text span {
  bottom: -50px;
  display: block;
  font-size: 1.25em;
  left: 10px;
  position: relative;
  text-align: center
}

.show-more, .show-more-bg {
  border: none;
  display: none;
  height: 20.75em;
  margin: 1em 0;
  overflow: hidden;
  padding: .5em 0 0;
  width: 100%;
  clear: both
}

.show-more-bg {
  background: url(https://concord.org/sites/default/files/images/learn/more-bg.png) left bottom repeat-x;
  opacity: .7;
  position: absolute;
  z-index: 5
}

.show-more {
  background: 0 0;
  position: absolute;
  z-index: 10
}

.show-more div {
  left: 50%;
  margin: 0 0 0 -480px;
  padding: 10px;
  position: absolute;
  width: 940px
}

.show-more div div {
  left: 0;
  margin: 0;
  position: relative;
  width: auto
}

.show-more div div.description {
  float: left;
  padding: 0;
  width: 48%
}

.show-more div.tabs {
  bottom: -3px;
  left: 0;
  margin: 0;
  padding: 0 1em .75em;
  position: absolute;
  text-align: center;
  width: 100%
}

.show-more div.tabs a {
  display: inline-block;
  font-size: .7em;
  margin: 0 1em;
  padding: 0 0 .25em;
  text-transform: uppercase
}

.show-more div.details, .show-more div.standards, p.icons span {
  display: none
}

.show-more div.tabs a.selected-tab {
  border-bottom: solid 2px #0091b1
}

.description h2 {
  color: #ee864e;
  text-align: left
}

.description p {
  line-height: 140%;
  margin-bottom: 1em
}

.description p.icons {
  margin-top: -12px
}

p.icons span {
  background: #75a643;
  border-radius: 3px;
  color: #fff;
  font-size: .6em;
  opacity: .8;
  padding: 3px 5px;
  text-align: center
}

p.icons span.browser-ready {
  background: #3a878b
}

p.icons span.sensor-based {
  background: #8cbbb8
}

.show-more div div.slideshow {
  background: 0 0;
  background-size: cover;
  border: 1px solid #ccc;
  float: right;
  height: 282px;
  margin-bottom: 1em;
  padding: 0;
  text-align: center;
  width: 460px
}

div.slideshow .no-save {
  background: #e16a3e;
  bottom: 0;
  color: #fff;
  font-size: .7em;
  margin: 0;
  padding: 2%;
  position: absolute;
  text-align: left;
  width: 96%;
  z-index: 5;
}

.show-more div div.slideshow dd {
  border-bottom: dashed 1px #0091b1;
  font-size: .8em;
  margin-bottom: 1em;
  padding-bottom: 1em
}

.show-more div div.slideshow dt, .show-more div div.slideshow li {
  font-size: .8em;
  list-style: none;
  margin-bottom: 1em;
  min-height: 26px
}

.show-more div div.slideshow dt:before {
  background: #ccc;
  content: ' ';
  float: left;
  height: 2.75em;
  margin: 3px .7em 0 0;
  width: 4em
}

.show-more div div.slideshow h3 {
  color: #0091b1;
  margin-bottom: 1em
}

.show-more div div.slideshow img {
  background: #fff;
  height: auto;
  width: 100%
}

.show-more div.details dt {
  font-weight: 700
}

.show-more div.details dd {
  line-height: 140%;
  margin-bottom: 1em
}

.show-more div div.col {
  float: left;
  padding: 0;
  width: 460px
}

.show-more div div.col:nth-child(2) {
  float: right
}

.show-more a.close-link {
  color: #999;
  font-size: .7em;
  margin: 0 -470px 0 0;
  position: absolute;
  right: 50%;
  text-align: right;
  top: 0;
  width: 960px
}

#collections li, #collections li img {
  display: block;
  width: 220px;
  height: auto
}

#background {
  border-top: dashed 2px #ddd;
  line-height: 140%;
  margin: 15px auto 0;
  padding: 20px;
  width: 960px
}

#background h2, #collections h2 {
  text-align: left
}

#background h3 {
  clear: both;
  color: #3f3f3f;
  font: 700 1.25em museo-sans, arial, helvetica, sans-serif;
  padding: 0 0 10px
}

#background li, #background p {
  font-size: 1.1em;
  margin-bottom: 1em
}

#background ul {
  margin: 0 0 20px 18px
}

#collections {
  background: #fee9aa;
  height: auto;
  margin: 1em -200%;
  min-height: 450px;
  overflow: hidden;
  padding-bottom: 1em;
  width: 500%
}

#collections #collections-inner {
  margin: 0 auto;
  padding: 1em 0;
  width: 960px
}

#collections h3 {
  color: #e16a3e;
  font: 500 1em museo-slab, georgia, times, 'times new roman', serif;
  margin-bottom: 0
}

#collections h3 img {
  clear: both;
  height: auto;
  margin: 3px 0 .5em 1em;
  width: 220px
}

#collections ul {
  margin-left: 0
}

#collections li {
  border: 10px solid #fee9aa;
  float: left;
  line-height: 140%;
  margin: 0;
  min-height: 230px;
  position: relative;
  z-index: 10
}

#collections li:nth-child(4n+1) {
  clear: left
}

#collections li a {
  background: #fff;
  color: #777;
  display: block;
  font: .8em verdana, helvetica, sans-serif;
  font-weight: 300;
  height: auto;
  min-height: 203px;
  padding: 10px 15px 3px
}

#collections li a:hover {
  background: #fef7e0
}

#collections li img {
  clear: both;
  margin: -11px -15px 1em
}

#collections p {
  line-height: 145%;
  margin-bottom: 1em
}

footer, footer a {
  color: #fff
}

#overlay, .modal {
  display: none;
  position: absolute
}
#signup-default-modal {
font-size: .8em !important;
}
footer {
  background: #e16a3e;
  clear: both;
  font-size: .8em;
  height: auto;
  margin-top: -50px;
  overflow: hidden;
  padding-top: 15px
}

.modal dt, .modal form dt {
  color: #3f3f3f
}

footer p {
  line-height: 135%;
  margin: 0 auto 1em
}

#disclaimers {
  float: left;
  width: 50%
}

#footer {
  background: transparent url(https://concord.org/sites/default/files/images/learn/bg-footer-gradient.png) repeat-x left bottom;
}

#footer-links {
  float: right;
  width: 210px
}

#footer-links li {
  margin-bottom: .5em
}

.modal button {
  display: block;
  margin: 1em auto;
  padding: 10px 20px !important
}

.modal dt {
  font-weight: 700;
  margin-bottom: .25em
}

.modal dd {
  margin-bottom: 1em
}

.modal h2, form.imported_confirm h2, form.signup h2 {
  color: #eb8723;
  font: 500 1.5em museo-sans;
  margin: 0 0 6px;
  padding: 0 0 5px;
  text-align: left
}

.modal h3 {
  color: #3f3f3f;
  font: 1em museo-sans;
  font-weight: 700;
  margin-bottom: 1em
}

.modal h4 {
  color: #222;
  font-weight: strong
}

.modal img {
  border: 1px solid #ccc;
  height: auto;
  width: 100%
}

.modal li, .modal p {
  font-size: .9em;
  line-height: 1.3
}

.modal p.special-msg {
  color: #e16a3e;
  display: none;
  margin-bottom: 1em
}

.modal-nav {
  top: -20px;
  color: #fff;
  position: absolute;
  width: 96%
}

.modal-nav a {
  color: #fff;
  display: block;
  text-decoration: none
}

.modal-nav a.prev {
  float: left
}

.modal-nav a.prev:before {
  color: #fff;
  content: '\00AB '
}

.modal-nav a.next {
  float: right
}

.modal-nav a.next:after {
  color: #fff;
  content: ' \00BB'
}

.modal .col {
  float: left;
  padding: 0 0 0 2%;
  width: 31.33333333333333%
}

.modal .col-50.req {
  width: 520px
}

.modal .col-50 ul {
  margin: 1em 0 1em 1em
}

.modal .col-50 li {
  margin-bottom: .5em
}

.modal button.button {
  margin: 0 0 1em !important
}

.modal input {
  padding: 5px
}

.modal input[type=submit] {
  border: none;
  padding: 5px 15px
}

.modal .social {
  right: -42.5px;
  margin-top: -75px;
  position: absolute;
  top: 50%;
  width: 32.5px
}

.modal .social img {
  border: none;
  height: auto;
  margin-bottom: 10px;
  width: 100%
}

.success_message_box {
  width: 255px !important
}

.resource-detail {
  margin-left: -400px;
  min-height: auto;
  width: 700px
}

.resource-detail .button {
  font-size: 1em
}

.lightbox {
  box-shadow: 0 5px 10px rgba(51, 51, 51, .5)
}

.lightbox div {
  border: none !important
}

.unassigned_classes_container {
  min-height: 30px
}

.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading dt, .wf-loading dd, .wf-loading li, .wf-loading p {
  visibility: hidden;
}

.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-active dt, .wf-active dd, .wf-active li, .wf-active p {
  visibility: visible;
}
